<html>

<head>
    <title>Stable diffusion</title>
    <script src="http://code.jquery.com/jquery-3.6.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body class="bg-light">
    <div class="container">
        <main>

            <div class="py-5 text-center">
                <h2>Stable Diffusion</h2>
                <p class="lead">Type some text in prompt area and see a generated image.</p>
            </div>

            <div class="mb-3">
                <h4 class="m3">Diffusion settings</h4>

                <form>
                    <div class="row g-6">
                        <div class="col">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="promptInput" aria-describedby="promptHelp"
                                    value="cat in the forest">
                                <label for="promptInput" class="form-label">Prompt</label>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row g-6">
                        <div class="col">
                            <div class="form-floating">
                                <input type="number" class="form-control" id="iterationsInput" value="50">
                                <label for="iterationsInput" class="form-label">Iterations</label>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-floating">
                                <input type="number" class="form-control" id="seedInput" value="42">
                                <label for="seedInput" class="form-label">Manual seed</label>
                            </div>
                        </div>

                    </div>

                    <br>

                    <div class="row g-6">
                        <div class="col">
                            <div class="mb-6 form-check">
                                <input type="checkbox" class="form-check-input" id="enableNSFW" checked>
                                <label class="form-check-label" for="enableNSFW">Filter NSFW content</label>
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">

                    <div class="col-md-12 text-center">
                        <button type="button" class="w-50 btn btn-primary btn-lg" id="diffusionSubmit"
                            onclick="diffuse()">Submit</button>
                    </div>
                </form>

                <div class="py-5 text-center">
                    <div class="d-block mx-auto mb-4">
                        <img src="{{ url_for('static', path='images/default.png') }}" height="512" width="512"
                            id="resultingImage">
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script type="text/javascript">
        function diffuse() {
            var prompt_str = $('#promptInput').val();
            var iterations = $('#iterationsInput').val();
            var seed = $('#seedInput').val();
            var nsfw_flag = $("#enableNSFW").is(":checked");

            // show scroll
            $("#resultingImage").attr('src', 'https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921');

            // get request to backend
            var endpoint = "/generate?prompt=" + prompt_str + "&iterations=" + iterations + "&seed=" + seed + "&nsfw=" + nsfw_flag;
            var window_url = window.URL || window.webkitURL;

            fetch(endpoint).then(response => response.blob()).then(blob => {
                var imageUrl = window_url.createObjectURL(blob);
                $("#resultingImage").attr('src', imageUrl);
                $("#resultingImage").attr('height', 512);
                $("#resultingImage").attr('width', 512);
            });
        };
    </script>


</body>


</html>